<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Crm" connectionString="AuthType=AD;Url=http://lablwmdev4:5555/TestCRM-Organization; Domain=siilabs; Username=crmadmin; Password="  />
    
  </connectionStrings>
</configuration>